* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

.section {
    height: 100rem;
}

.section--first {
    background: black;
}

.section--second {
    background: darkblue;
}

.section--third {
    background: white;
}

.reviews {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.review {
    list-style: none;
    width: 30rem;
    height: 30rem;
    background: darkred;
}

.review p {
    font-size: 65%;
    font-style: italic;
}