* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {}

.section {
    height: 100rem;
}

.section--first {
    background: black;
}

.section--second {
    background: darkblue;
}

.section--third {
    background: white;
}